<!--Pagina provisional, aquí debería mostrarse el resultado de la operación-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resultados</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
       <h1>Resultados</h1>
       <!--FIXME: Muestra el diccionario, y el valor se muestra como Fraction(x,y). Se puede hacer más legible-->
       <p>{{data.solution}}</p>
       <p>{{data.optimize_val}}</p>
    </body>
</html>